<div class="vertical-center">

  <div class="dotted-box">
    <div class="back-button">
      <a routerLink="/login">
        &#x2bc7; login
      </a>
    </div>


    <h1 class="text-center">Registration</h1>
    <form [formGroup]="registerForm" (ngSubmit)="formSent()">
      <div class="form-row">
        <label [htmlFor]="EMAIL_INPUT">Email:</label>
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="email" [id]="EMAIL_INPUT" [formControlName]="EMAIL_INPUT"
               [ngClass]="{'is-invalid': emailInput.invalid && emailInput.touched}"
               class="form-control"/>
        <div *ngIf="emailInput.hasError('required')" class="error-message">
          The email is required.
        </div>
        <div *ngIf="emailInput.hasError('email')" class="error-message">
          The input is not valid email.
        </div>
        <div *ngIf="emailInput.hasError('in-use')" class="error-message">
          The email is already used by other account.
        </div>
      </div>

      <div class="form-row">
        <label [htmlFor]="PASSWORD_INPUT">Password:</label>
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="password" [id]="PASSWORD_INPUT" [formControlName]="PASSWORD_INPUT"
               [ngClass]="{'is-invalid': passwordInput.invalid && passwordInput.touched}"
               class="form-control"/>
        <div *ngIf="passwordInput.hasError('required')" class="error-message">
          The password is required.
        </div>
        <div *ngIf="passwordInput.hasError(PasswordStrengthValidator.NAME)" class="error-message">
          Password is too weak. {{passwordErrors}}
        </div>
      </div>

      <div class="form-row">
        <label [htmlFor]="PASSWORD_REPEAT_INPUT">Password:</label>
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="password" [id]="PASSWORD_REPEAT_INPUT" [formControlName]="PASSWORD_REPEAT_INPUT"
               [ngClass]="{'is-invalid': (passwordRepeatInput.invalid || registerForm.hasError(MatchValidator.NAME)) && passwordRepeatInput.touched}"
               class="form-control"/>
        <div *ngIf="registerForm.hasError('match')" class="error-message">
          Passwords do not match.
        </div>
      </div>

      <div *ngIf="registerForm.hasError('not-allowed')" class="form-row pt-3 error-message">
        The operation is not allowed.
      </div>

      <div class="form-row pt-3">
        <app-loading [loading]="loading">
          <input type="submit" value="Register" [disabled]="registerForm.invalid"
                 class="form-control btn btn-success"/>
        </app-loading>
      </div>
    </form>


  </div>

</div>

