@import "../../../authentication_screens";

.back-button {
  margin-left: -2.5em;
  margin-top: -2.5em;
  margin-bottom: 1.5em;
}

.error-message {
  color: red;
  opacity: 0.9;
  font-size: 0.8em;
}
