:host {
  transition: width 0.5s ease-in-out, transform 0.5s linear;
  flex-shrink: 0;
}

.left-panel {
  height: 100%;
  border-right: solid 2px var(--delimiting-line);
}

.tags-heading {
  display: flex;
  width: 100%;
  justify-content: center;

  h2 {
    text-align: center;
    padding: 1em 1em 0.4em;
    border-bottom: solid 2px var(--delimiting-line);
  }
}

.tags-list {
  padding: 1em;
}
