<div class="top-panel">

  <div class="menu-container">
    <div (click)="menuButtonClick()">
      <span class="oi oi-menu"></span>
    </div>
  </div>

  <div class="mr-auto">
    <h1 class="text-center mb-2 mt-2">The notes</h1>
  </div>

  <div class="mr-auto ml-auto filtering-input">
    <input type="text" placeholder="Filter..."
           class="form-control form-control-lg"
           (keyup)="searchingChange($event)" />
    <a (click)="showCreateNote()"
       class="btn btn-warning btn-lg ml-2">
      Create note
    </a>
  </div>

  <div class="ml-auto mr-0 p-2 logout-container">
    <a (click)="logout()" href="#">
      Logout
    </a>
  </div>

</div>
