:host {
  display: block;
}

.top-panel {
  border-bottom: solid 1px var(--gray);
  display: flex;
}


.menu-container {
  display: flex;
  align-items: center;

  & > div {
    border-radius: 999px;
    background-color: rgba(100, 100, 100, 0.4);
    height: fit-content;
    margin: 0 1em;
  }

  span {
    font-size: 1.3em;
    padding: 10px 12px 15px;
  }
}


.filtering-input {

  display: flex;
  align-items: center;

  input {
    width: 50vw;
  }
}


.logout-container {
  display: flex;
  align-items: center;

  a {
    display: block;
    padding-bottom: 5px;
  }
}
