:host {
  display: block;
  height: 100%;
}

.main-application-component {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.splitter {
  min-height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  position: relative;
}

app-left-panel.hidden {
  transform: scaleX(0);
  width: 0 !important;
}
